@import "tailwindcss";

input:focus {
    outline: none;
    border: 1px solid #444;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-accordion-content {
    padding: 0.7em;
    margin: 0;
}

.p-button.text-xs {
    margin: 0em !important;
    padding: 0em !important;
    height: 2.15em !important;
    width: 2.10em !important;
}

.p-button.text-xs:focus {
    box-shadow: none !important;
}